<!DOCTYPE html>
<html>
<head>
  <title>Qna2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <%= link_to "Главная", questions_path %> |
    <% if current_user %>
        <%= link_to "Задать вопрос", new_question_path if can?(:create, Question) %> |
        <%= current_user.email %> |
        <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Войти", new_user_session_path %> |
        <%= link_to "Регистрация", new_user_registration_path %> |
    <% end %>

    <%= form_tag(search_index_path, method: "get", role:"form") do %>
    <%= radio_button_tag 'where_search', 'Answer' %>             <%= label_tag("where_search", "Answers") %>
    <%= radio_button_tag 'where_search', 'Question' %>           <%= label_tag("where_search", "Questions") %>
    <%= radio_button_tag 'where_search', 'Comment' %>            <%= label_tag("where_search", "Comments") %>
    <%= radio_button_tag 'where_search', 'All', checked: true %> <%= label_tag("where_search", "All") %>
    <%= label_tag(:search_field, "Search:") %> <%= text_field_tag(:search_field) %>
    <%= submit_tag("Search") %>
    <% end %>

<div class="alert alert-success" role="alert"><%= notice %></div>
<div class="alert alert-danger" role="alert"><%= alert %></div>
<%= yield %>
</body>
</html>
